{% extends "SywFrontMainBundle::base.html.twig" %}
{% trans_default_domain "syw_front_main_main_about" %}

{% block body %}

    <!-- Page Content -->
    <div class="row">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'The Linux Counter Project in the international press'|trans }}</h3>
                    </div>
                    <div class="panel-body">



                        <div class="article">
                            <div class="article-header"><a href="http://www.linux-magazin.de/NEWS/Linux-Counter-mit-neuen-Statistiken">Linux Counter mit neuen Statistiken</a></div>
                            <div class="article-body">
                                <div class="article-meta">17. Jun 2015, 11:18</div>
                                Seit Alexander Löhner das Projekt Linux Counter im Jahr 2011 von Harald Avestrand übernommen hat, sind einige Statistiken über den Einsatz von Linux und Linux-Kernel hinzugekommen...

                                &nbsp; <a href="http://www.linux-magazin.de/NEWS/Linux-Counter-mit-neuen-Statistiken">more...</a>
                            </div>
                        </div>



                        <div class="article">
                            <div class="article-header"><a href="http://www.pro-linux.de/news/1/22435/der-linux-counter-im-neuen-gewand-und-neuer-technik.html">Der Linux Counter im neuen Gewand und neuer Technik</a></div>
                            <div class="article-body">
                                <div class="article-meta">Von Mirko Lindner - 17. Jun 2015, 10:44</div>
                                "Eine Statistik sie alle zu zählen..." - Nachdem der Linux Counter vor knapp vier Jahren
                                fast komplett von der Bildfläche verschwunden war, erfreut sich das Projekt wieder
                                zunehmender Beliebtheit. Der neue Betreiber erweitert die Seite stetig und fügt ihr
                                sukzessive neue Funktionen hinzu. Ende August wird es 24 Jahre her sein, als Linus
                                Torvalds sein Betriebssystem »Linux« in der Minix Usergroup angekündigt hat. Nur zwei
                                Jahre später wurde bereits der erste, offizielle Linux...

                                &nbsp; <a href="http://www.pro-linux.de/news/1/22435/der-linux-counter-im-neuen-gewand-und-neuer-technik.html">more...</a>
                            </div>
                        </div>



                        <div class="article">
                            <div class="article-header"><a href="http://www.silicon.de/41613497/linux-counter-zaehlt-in-neuauflage-linux-nutzer/">Linux Counter zählt in Neuauflage Linux-Nutzer</a></div>
                            <div class="article-body">
                                <div class="article-meta">Martin Schindler, 16.6.2015, 17:50 Uhr</div>
                                Wie viele Linux-Anwender gibt es eigentlich? Die Antwort steht für Fans des quelloffenen Betriebssystems schnell fest: Noch immer zu wenig...

                                &nbsp; <a href="http://www.silicon.de/41613497/linux-counter-zaehlt-in-neuauflage-linux-nutzer/">more...</a>
                            </div>
                        </div>



                        <div class="article">
                            <div class="article-header"><a href="http://www.malavida.com/analisis/cuantos-usuarios-de-linux-hay-en-el-mundo-005253">¿Cuántos usuarios de Linux hay en el mundo?</a></div>
                            <div class="article-body">
                                <div class="article-meta">Elies Guzmán, 21 MAYO, 2015</div>
                                The Linux Project trata de estimar de la manera más ajustada posible a la realidad la cantidad de usuarios de Linux que hay en el mundo. Se basa en distintos números y estadísticas pero el cálculo no está exento de problemas...

                                &nbsp; <a href="http://www.malavida.com/analisis/cuantos-usuarios-de-linux-hay-en-el-mundo-005253">more...</a>
                            </div>
                        </div>



                        <div class="article">
                            <div class="article-header"><a href="http://www.forbes.com/sites/adrianbridgwater/2014/07/21/are-we-comfortable-with-commercial-open-source-now/">Are We Comfortable With Commercial Open Source Now?</a></div>
                            <div class="article-body">
                                <div class="article-meta">Adrian Bridgwater, JUL 21, 2014 @ 4:57 PM</div>
                                Despite the rise in prominence of open source software, the number of users running some variant of Linux on their personal laptops and desktops remains comparatively low. Notwithstanding Linuxcounter.net’s best guess at 72 million Linux users globally (at the time of writing), it has only been Android on a mobiles that has provided a significant open source operating system experience for most of us to date...

                                &nbsp; <a href="http://www.forbes.com/sites/adrianbridgwater/2014/07/21/are-we-comfortable-with-commercial-open-source-now/">more...</a>
                            </div>
                        </div>



                        <div class="article">
                            <div class="article-header"><a href="http://www.networkworld.com/article/2224698/opensource-subnet/funding-for-open-source-projects-is-more-achievable-than-it-seems.html">Funding for open source projects is more achievable than it seems</a></div>
                            <div class="article-body">
                                <div class="article-meta">Bryan Lunduke, May 29, 2013 11:17 AM PT</div>
                                While crowd-funding seems like a tall task, a look at the math and history behind donations for other open source projects makes it seem much more likely...

                                &nbsp; <a href="http://www.networkworld.com/article/2224698/opensource-subnet/funding-for-open-source-projects-is-more-achievable-than-it-seems.html">more...</a>
                            </div>
                        </div>



                        <div class="article">
                            <div class="article-header"><a href="http://www.heise.de/open/artikel/Die-Woche-Linux-auf-dem-Desktop-1410478.html">Die Woche: Linux auf dem Desktop?</a></div>
                            <div class="article-body">
                                <div class="article-meta">Dr. Oliver Diedrich, 12.01.2012 19:13</div>
                                Da schien es, als sei der Traum vom Durchbruch auf dem Desktop endgültig ausgeträumt, nun findet NetMarketShare einen steigenden Anteil von Linux-Anwendern. Kommt jetzt doch noch der Erfolg auf dem Desktop?

                                &nbsp; <a href="http://www.heise.de/open/artikel/Die-Woche-Linux-auf-dem-Desktop-1410478.html">more...</a>
                            </div>
                        </div>



                        <div class="article">
                            <div class="article-header"><a href="http://www.oneopensource.it/12/09/2011/linux-counter-si-aggiorna/">Linux Counter si aggiorna</a></div>
                            <div class="article-body">
                                <div class="article-meta">di Marco Paolone - 12 settembre 2011 alle 14:00</div>
                                Gli utenti più navigati del pinguino sicuramente conosceranno Linux Counter, il progetto nato nel 1993 con l’obiettivo di censire l’utenza Linux, che da qui a quasi vent’anni di distanza conta – soltanto – più di 120.000 utenti attivi nel mondo...

                                &nbsp; <a href="http://www.oneopensource.it/12/09/2011/linux-counter-si-aggiorna/">more...</a>
                            </div>
                        </div>

































                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
