{% extends "SywFrontApiBundle::base.html.twig" %}

{% block body %}

    <!-- Page Content -->
    <div class="container page">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'RESTful API documentation'|trans }}</h3>
                    </div>
                    <div id="apidoc" class="panel-body apidoc">
                        <div class="apidoccontent">



                            <div id="apidoc1" class="apidocbox">
                                <div class="row apidoctitle">
                                    <div class="col-sm-2 apimethod post">POST</div>
                                    <div class="col-sm-10 api-action">
                                        foo bar
                                    </div>
                                </div>
                                <div id="apidoc_desc1" class="apidocdesc">
                                    <div class="apidocdesc_div">


                                        foo bar


                                    </div>
                                </div>
                            </div>



                            <div id="apidoc2" class="apidocbox">
                                <div class="row apidoctitle">
                                    <div class="col-sm-2 apimethod get">GET</div>
                                    <div class="col-sm-10 api-action">
                                        foo bar
                                    </div>
                                </div>
                                <div id="apidoc_desc2" class="apidocdesc">
                                    <div class="apidocdesc_div">


                                        foo bar


                                    </div>
                                </div>
                            </div>



                            <div id="apidoc3" class="apidocbox">
                                <div class="row apidoctitle">
                                    <div class="col-sm-2 apimethod delete">DELETE</div>
                                    <div class="col-sm-10 api-action">
                                        foo bar
                                    </div>
                                </div>
                                <div id="apidoc_desc3" class="apidocdesc">
                                    <div class="apidocdesc_div">


                                        foo bar


                                    </div>
                                </div>
                            </div>



















                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
