{% extends "SywFrontMainBundle::base.html.twig" %}
{% trans_default_domain "syw_front_main_main_faq" %}

{% block body %}
<!-- Page Content -->
<div class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'Frequently asked questions'|trans }}</h3>
                </div>
                <div id="faq" class="panel-body faq">
                    <div class="faqcontent">




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
