{% extends "SywFrontMainBundle::base.html.twig" %}
{% trans_default_domain "syw_front_main_error_error" %}

{% block body %}
<!-- Page Content -->
<div class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'Error'|trans }} {{ error }}</h3>
                </div>
                <div id="faq" class="panel-body faq">
                    <div class="errorcontent">

                        <p><strong>{{ 'Something went terribly wrong.'|trans }}</strong></p>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
